
<script src="../public/availability.js"></script>


<%- include('partials/messages') %>

<h1 class="mt-4">Tu Perfil</h1>
<p class="lead mb-3">Hola <%= user.name %>!</p>

<% if (!user.verified) { %>
    <p>¡Tu cuenta aún no ha sido verificada!</p>
<% } %>

<p>Tu estado: <%= disponibilidad ? 'Disponible' : 'Ocupado' %></p>





<form id="availabilityForm" method="POST" action="/users/availability">
    <input type="hidden" name="available" id="availabilityInput" value="">
    <button type="button" id="onlineBtn" class="btn btn-success">¡Estoy disponible!</button>
    <button type="button" id="offlineBtn" class="btn btn-danger">Estoy Ocupado</button>
</form>


<!-- Button to Show Modal -->
<button id="showMatchModalBtn" class="btn btn-primary">Agregar Partido</button>

<!-- Match Information Modal -->
<div id="matchModal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Agregar Partido</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- Match Information Form -->
        <form id="matchForm" method="POST" action="/matches/add">
            <div class="form-group">
                <label for="day">Fecha del Partido:</label>
                <input type="date" id="day" name="day" class="form-control" required>
            </div>
            <div class="form-group">
              <label for="time">Hora del Partido:</label>
              <select id="time" name="time" class="form-control" required>
                  <option value="">Selecciona el horario</option>
                  <!-- Generate options for time slots -->
                  <% for (let hour = 8; hour <= 23; hour++) { %>
                      <% for (let minute of ['00', '30']) { %>
                          <% const timeSlot = `${hour.toString().padStart(2, '0')}:${minute}`; %>
                          <option value="<%= timeSlot %>"><%= timeSlot %></option>
                      <% } %>
                  <% } %>
              </select>
          </div>
          
            <div class="form-group">
              <label for="court">Cancha:</label>
              <select id="court" name="court" class="form-control" required>
                  <option value="">Selecciona la cancha</option>
                  <option value="RP Padel Club - 1">RP Padel Club - 1</option>
                  <option value="RP Padel Club - 2">RP Padel Club - 2</option>
                  <option value="Alumni">Alumni</option>
                  <option value="Country Interior">Country Interior</option>
                  <option value="Country Azul">Country Azul</option>
                  <option value="Country Verde">Country Verde</option>
                  <option value="Chaira">Chaira</option>
                  <!-- Add more options if necessary -->
              </select>
          </div>
            <div class="form-group">
                <label for="categoria">Categoría:</label>
                <select id="categoria" name="categoria" class="form-control" required>
                    <option value="">Selecciona la categoria promedio</option>
                    <option value="Octava">Octava</option>
                    <option value="Septima">Septima</option>
                    <option value="Sexta">Sexta</option>
                    <option value="Quinta">Quinta</option>
                    <option value="Cuarta">Cuarta</option>
                    <!-- Add more options if necessary -->
                </select>
            </div>
            <div class="form-group">
              <label for="faltantes">Número de Jugadores Faltantes (1-3):</label>
              <input type="number" id="faltantes" name="faltantes" class="form-control" min="1" max="3" required>
          </div>
          
          <!-- Day, time, court, categoria, faltantes fields -->
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <button type="submit" form="matchForm" class="btn btn-primary">Agregar</button>
      </div>
    </div>
  </div>
</div>


<script src="../public/matchModal.js"></script>










<!-- Formulario para seleccionar categoría -->
<form action="/dashboard" method="GET">
    <div class="form-group">
        <label for="categoria">Selecciona una categoría:</label>
        <select id="categoria" name="categoria" class="form-control">
            <option value="Octava" <%= selectedCategory === 'Octava' ? 'selected' : '' %>>Octava</option>
            <option value="Septima" <%= selectedCategory === 'Septima' ? 'selected' : '' %>>Septima</option>
            <option value="Sexta" <%= selectedCategory === 'Sexta' ? 'selected' : '' %>>Sexta</option>
            <option value="Quinta" <%= selectedCategory === 'Quinta' ? 'selected' : '' %>>Quinta</option>
            <option value="Cuarta" <%= selectedCategory === 'Cuarta' ? 'selected' : '' %>>Cuarta</option>
            <!-- Agrega más opciones de categoría según sea necesario -->
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Buscar</button>
</form>


<!-- Tabla para mostrar usuarios -->
<% if(users.length > 0) { %>
    <h2>Usuarios de la Categoría <%= selectedCategory %>:</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Genero</th>
                <th>Categoria</th>
                <th>Telefono</th>
                <!-- Agrega más columnas según sea necesario -->
            </tr>
        </thead>
        <tbody>
            <% users.forEach(user => { %>
                <tr>
                    <td><%= user.name %></td>
                    <td><%= user.genero %></td>
                    <td><%= user.categoria %></td>
                    <td><%= user.telefono %></td>
                    <!-- Agrega más columnas según sea necesario -->
                </tr>
            <% }); %>
        </tbody>
    </table>
<% } else { %>
    <p>No hay usuarios disponibles para la categoría seleccionada.</p>
<% } %>


<!-- Display matches -->
<div id="dashboardContainer">
<% if(matches.length > 0) { %>
  <h2>All Matches:</h2>
  <table class="table">
      <thead>
          <tr>
              <th>Date</th>
              <th>Time</th>
              <th>Court</th>
              <th>Category</th>
              <th>Players Needed</th>
              <th>Created By</th>
              <th>Creator Phone Number</th> <!-- esta linea se borrará luego.-->
              <!-- Add more columns as needed -->
          </tr>
      </thead>
      <tbody>
          <% matches.forEach(match => { %>
              <tr>
                  <!-- Adjust the date to match the user's timezone -->
                  <% const utcDate = new Date(match.day); %>
                  <% const localDate = new Date(utcDate.getTime() + (utcDate.getTimezoneOffset() * 60000)); %>
                  <% const day = localDate.getDate().toString().padStart(2, '0'); %>
                  <% const month = (localDate.getMonth() + 1).toString().padStart(2, '0'); %>
                  <% const year = localDate.getFullYear(); %>
                  <td><%= day %>/<%= month %>/<%= year %></td>
                  <td><%= match.time %></td>
                  <td><%= match.court %></td>
                  <td><%= match.categoria %></td>
                  <td><%= match.faltantes %></td>
                  <td><%= match.creatorName %></td>
                  <td><%= match.creatorPhoneNumber %></td> <!-- esta linea se borrará luego.-->
                  <!-- Add more columns as needed -->
              </tr>
          <% }); %>
      </tbody>
  </table>
<% } else { %>
  <p>No matches available.</p>
<% } %>
</div>








<a href="/users/logout" class="btn btn-secondary">Cerrar Sesión</a>
