<div class="row mt-5">
    <div class="col-md-6 m-auto">
      <div class="card card-body">
        <h1 class="text-center mb-3">
          <i class="fas fa-user-plus"></i> Registrarse
        </h1>
        <%- include('partials/messages'); -%>
        <form action="/users/register" method="POST">
          <div class="form-group">
            <label for="name">Nombre Completo</label>
            <input
              type="name"
              id="name"
              name="name"
              class="form-control"
              placeholder="Ingresa tu nombre completo"
              value="<%= typeof name != 'undefined' ? name : '' %>"
            />
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input
              type="email"
              id="email"
              name="email"
              class="form-control"
              placeholder="Ingresa tu email"
              value="<%= typeof email != 'undefined' ? email : '' %>"
            />
          </div>
          <div class="form-group">
            <label for="password">Contraseña</label>
            <input
              type="password"
              id="password"
              name="password"
              class="form-control"
              placeholder="Elige tu contraseña"
              value="<%= typeof password != 'undefined' ? password : '' %>"
            />
          </div>
          <div class="form-group">
            <label for="password2">Confirmar contraseña</label>
            <input
              type="password"
              id="password2"
              name="password2"
              class="form-control"
              placeholder="Confirma tu contraseña"
              value="<%= typeof password2 != 'undefined' ? password2 : '' %>"
            />
          </div>
          
          <div class="form-group">
            <label for="telefono">Telefono</label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <!-- El prefijo +549 está deshabilitado y no se puede editar -->
                    <span class="input-group-text" readonly>+549</span>
                </div>
                <input
                    type="text"
                    id="telefono"
                    name="telefono"
                    class="form-control"
                    placeholder="Número de teléfono"
                    value="<%= typeof telefono != 'undefined' ? telefono : '' %>"
                />
            </div>
        </div>
        
          <div class="form-group">
            <label for="genero">Genero</label>
            <select id="genero" name="genero" class="form-control">
                <option value="">Selecciona tu genero</option>
                <option value="Femenino">Femenino</option>
                <option value="Masculino">Masculino</option>
                <option value="Noresp">No responde</option>
                

                <!-- Agrega más opciones según sea necesario -->
            </select>
        </div>
          <div class="form-group">
            <label for="categoria">Categoría</label>
            <select id="categoria" name="categoria" class="form-control">
                <option value="">Selecciona tu categoría</option>
                <option value="Octava">Octava</option>
                <option value="Septima">Septima</option>
                <option value="Sexta">Sexta</option>
                <option value="Quinta">Quinta</option>
                <option value="Cuarta">Cuarta</option>
                <!-- Agrega más opciones según sea necesario -->
            </select>
        </div>
        
          <button type="submit" class="btn btn-primary btn-block">
            Registrarse
          </button>
        </form>
        <p class="lead mt-4">¿Ya estas registrado? <a href="/users/login">Ingresar</a></p>
      </div>
    </div>
  </div>